* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#main-content {
    background-image: url(../images/backdrop.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    padding: 12px;
    height: 100%;
}

#header {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

