* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #232125;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar content"
    ;
}

#header {
    grid-area: header;
    padding: 0px 36px;
    border-bottom: 1px #ffffff solid;
    margin-bottom: 24px;
    background-color: #111;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: #ffffff;
    margin-right: 3px;
}

#header #tube {
    color: #111;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 12px;
}

#header #tube:hover {
    letter-spacing: 0.5mm;
}

#sidebar {
    grid-area: sidebar;
    border-top: 1px #ffffff solid;
}

#sidebar ul{
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px #ffffff solid;
}

#sidebar ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
    border-bottom: 1px #767676 solid;
}

#sidebar ul a:hover {
    background-color: rgb(87, 87, 87);
    border-radius: 12px;
}

#main {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
}

.metube-item {
    flex: 250px;
    max-width: 300px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item .thumbnail {
    border-radius: 8px;
    background: radial-gradient(at top left, #978888, #18184b);
    aspect-ratio: 16 / 9;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #ffffff;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
    color: #c2c2c2;
}

.metube-item#m1 .thumbnail {
    background-image: url(../images/hq720.jpg);
    background-size: cover;
}

.metube-item#m2 .thumbnail {
    background-image: url(../images/hqdefault.jpg);
    background-size: cover;
}

.metube-item#m3 .thumbnail {
    background-image: url(../images/maxresdefault-1.jpg);
    background-size: cover;
}

.metube-item#m4 .thumbnail {
    background-image: url(../images/maxresdefault-2.jpg);
    background-size: cover;
}

.metube-item#m5 .thumbnail {
    background-image: url(../images/maxresdefault.jpg);
    background-size: cover;
}

.metube-item#m6 .thumbnail {
    background-image: url(../images/sddefault.jpg);
    background-size: cover;
}