/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-container {
    gap: 24px;
}

.card-container .example-card {
    margin: 0px;
}

.card-style-2 {
    margin-top: 24px;
    max-width: 350px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    height: 530px;
    border-radius: 36px;

}

.profile-pic-container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.card-style-2 img {
    width: 100%;
    border-radius: 50%;
}

.card-style-2 p {
    text-align: center;
    max-width: 80%;
    margin-top: 0px;
    margin-bottom: 38px;
}

.card-style-2 h2 {
    margin-bottom: 0px;
}

.card-style-2 .animagram-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand-name {
    font-size: 30px;
}

.card-style-2 .animagram-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
}