/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license{
    border: 3px red solid;
    background-color: white;
    padding: 12px;
}

#content{
    border: 3px navy solid;
    padding: 12px
}

#content h1{
    border: 3px red solid;
    background-color: white;
    margin: 0px;
    color: navy;
}

#left-side{
    border: 3px red solid;
    background-color: white;
    display: inline-block;
}

#right-side{
    border: 3px red solid;
    background-color: white;
    display: inline-block;
}

#left-side h4{
    display: block;
    background-color: navy;
    color: white;
    text-align: center;
    margin: 0px;
}

#id-and-expiration{
    display: block;
    border: 3px green solid;
}

#address{
    display: block;
    border: 3px green solid;
}

#personal-info{
    display: block;
    border: 3px green solid;
}

#id-and-expiration div{
    display: inline-block;
    border: 3px cyan solid;
}

#small-pic{
    display: inline-block;
    border: 3px cyan solid;
    width: 30%;
}

#small-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#data-fields{
    display: inline-block;
    border: 3px cyan solid;
    height: 100%;
}

#data-left{
    display: inline-block;
    border: 3px navy solid;
}

#data-right{
    display: inline-block;
    border: 3px navy solid;
}

#signature{
    display: block;
    border: 3px navy solid;
}

#data-left div {
    border: 3px red solid;
}

#data-right div {
    border: 3px red solid;
}

#right-side img {
    border: 3px green solid;
}

#donor-and-real-id{
    border: 3px green solid;
}

#donor{
    display: inline-block;
    border: 3px cyan solid;
}

#real-id{
    display: inline-block;
    border: 3px cyan solid;
}