@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license{
    width: 600px;
    border: 3px brown solid;
    background-color: white;
    padding: 12px;
    border-radius: 24px;
    box-shadow: 8px 8px 6px #00000057;
    background: linear-gradient(135deg, burlywood, rgb(158, 102, 38));
}

#content{
    vertical-align: top;
}

#content h1{
    margin: 0px;
    color: navy;
    font-size: 60px;
}


#left-side{
    display: inline-block;
    width: 65%
}

#right-side{
    display: inline-block;
    width: 34%;
    text-align: center;
}

#left-side h4{
    display: block;
    background-color: navy;
    color: white;
    text-align: center;
    margin: 0px;
    margin-bottom: 7px;
    padding: 6px;
    font-size: 24px;
}

#id-and-expiration{
    display: block;
    text-align: left;
    margin: 6px 0px;
}

#id-and-expiration div{
    display: inline-block;
    color: navy;
}

#address{
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin: 6px 0px;
}

#personal-info{
    display: block;
}

#id-and-expiration span{
    color: #b90f0f;
    font-weight: bold;
}

#small-pic{
    display: inline-block;
    width: 90px;
    opacity: 50%;
}

#small-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#data-fields{
    display: inline-block;
    width: fit-content;
}

#data-left{
    display: inline-block;
}

#data-right{
    display: inline-block;
}

#data-left div, #data-right div {
    margin: 0px 18px;
    color: navy;
}

#data-left span, #data-right span {
    color: #b90f0f;
}

#signature{
    display: block;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    font-family: 'Ms Madi', cursive;
}

#right-side img {
    width: 100%;
}

#donor-and-real-id{
    color: navy;
    font-size: 24px;
}

#donor{
    display: inline-block;
}

#real-id{
    display: inline-block;
    color: #e6e67f;
}