* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, green, #0b630b);
    display: flex;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

