#first-paragraph{
    color:white;
    background-color: gray;
    font-style:italic;
    text-align: center;
}

#second-paragraph{
    color:orangered;
    background-color: #00381a;
    font-size: 24px;
    text-decoration: underline;
}

#bold-paragraph{
    font-weight: bold;
    background-color: #86d6d6;
}

#s1{
    color: crimson;
    font-weight: bold;
    font-size: 48px
}

#s2{
    font-style: italic;
    text-decoration: line-through;
}

#s3{
    background-color: yellow;
    text-align: right;
}

#s4{
    text-align: right;
}