* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

.cgh {
    margin-bottom: 24px;
    text-align: center;
}

.cg {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 48px;
    margin-left: 24px;
    margin-right: 24px;
}

#cg1 .card {
    border: 3px solid black;
    padding: 12px;
    text-align: center;
    width: 200px;
    height: 250px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cg2 .card {
    border: 3px solid black;
    padding: 12px;
    text-align: center;
    width: 230px;
    height: fit-content;
}

#cg2 .card p {
    font-size: 14px;
}

#cg2 .card a {
    display: block;
    text-decoration: none;
    border: 3px solid black;
    padding: 12px;
    color: black;
}

#cg3 .card {
    border: 3px solid black;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cg3 .cg3content {
    background-color: #ffffffba;
    width: 100%;
    height: 100%;
    border-radius: 56px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
    transition:
        display 0.25s,
        visibility 0.25s
    ;
}

#cg3 .cg3content h2 {
    font-weight: bolder;
    font-size: 30px;
}

#cg3 .cg3content p {
    font-size: 18px;
}

#cg3c1 {
    background-image: url(../images/PeashooterGW1.webp);
    background-position: center top;
    object-fit: cover;
    background-size: contain;
}



#cg3c2 {
    background-image: url(../images/PeashooterGW1.webp);
    object-fit: cover;
    background-size: contain;
}

#cg3c3 {
    background-image: url(../images/PeashooterGW1.webp);
    object-fit: cover;
    background-size: contain;
}

#cg3c4 {
    background-image: url(../images/PeashooterGW1.webp);
    object-fit: cover;
    background-size: contain;
}