@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 24px;
    color: white;
}

.everything {
    text-align: center;
}

#header, #gal-header {
    margin-bottom: 48px;
    font-family: "Hanken Grotesk", sans-serif;
}

#header #name {
    font-size: 48px;
}

#header #desc {
    font-weight: lighter;
    font-size: 24px;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#content h2 {
    font-size: 36px;
    margin-bottom: 36px;
}

#cardiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
}

#cardiv #fix-space {
    height: 30vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 280px;
    height: 400px;
    padding: 24px;
    border-radius: 2.5px;
}

.card .card-img {
    background-color: black;
    width: 100%;
    height: 210px;
    border-radius: 2.5px;
}

.card h3 {
    font-size: 24px;
    color: #111;
}

a.card-but {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #222;
    padding: 12px;
    width: 80%;
    border-radius: 5px;
    height: 50px;
    border: #222 3px solid;
    transition: 
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s
    ;
}

a.card-but:hover {
    color: #222;
    background-color: white;
    box-shadow: 0px 0px 6px #00000047;
}

a.card-but:active {
    color: white;
    background-color: #bebebe;
}


#card1-img {
    background-image: url(../images/portme.jpg);
    background-size: cover;
}

#card2-img {
    background-image: url(../images/portme-2.jpg);
    background-size: cover;
}

#card3-img {
    background-image: url(../images/portme-3.jpg);
    background-size: cover;
}

#galdiv {
    margin-top: 48px;
    columns: 3 auto;
    column-gap: 12px;
    width: 80%;
    margin: 0px auto;
}

#galdiv img {
    width: 100%;
    margin-bottom: 12px;
    background-color: black;
}

#gal-header {
    margin-bottom: 48px;
}

#but-space-round {
    margin-bottom: 48px;
}

#gal-ret {
    background-color: white;
    color: #111;
    border: 3px solid white;
}

#gal-ret:hover {
    box-shadow: 0px 0px 6px #ffffff63;
    background-color: #222;
    border-color: #222;
    color: white;
}

#gal-ret:active {
    background-color: white;
    border-color: white;
    color: #464646;
}