@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 24px;
    color: white;
}

#everything {
    text-align: center;
}

#header {
    margin-bottom: 48px;
}

#header #name {
    font-size: 48px;
}

#header #desc {
    font-weight: lighter;
    font-size: 24px;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#content h2 {
    font-size: 36px;
    margin-bottom: 36px;
}

#cardiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
}

#cardiv #fix-space {
    height: 30vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #b9b9b9;
    width: 280px;
    height: 400px;
    padding: 24px;
}

.card .card-img {
    background-color: black;
    width: 100%;
    height: 180px;
}

.card h3 {
    font-size: 24px;
}

.card .card-but {
    background-color: black;
    padding: 12px;
    width: 80%;
    text-align: center;
}

.card .card-but a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#card1-img {
    background-image: url();
}